@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This ASP.NET solution allows a user to upload a CSV file consisting of N integers, 
    sorted in a non-decreasing order, 
    and then outputs the File in a datagrid and also shows leader of the values.
    The site also returns -1 if the collection does not contain a leader.
</p>
